<div class="container">
<table class="table table-sm">
        <thead>
          <tr>
            <th>Nomes</th>
            <th>Numeros de registros</th>
            <th>Montante</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">teste1</th>
            <td>105</td>
            <td>$15,000.00</td>
          </tr>
          <tr>
            <th scope="row">teste2</th>
            <td>95</td>
            <td>$12,000.00</td>
          </tr>
          <tr>
            <th scope="row">teste3</th>
            <td>150</td>
            <td>$20,000.00</td>
          </tr>
          <tr>
            <th scope="row">teste4</th>
            <td>50</td>
            <td>$30,000.00</td>
          </tr>
          <tr>
            <th scope="row">teste5</th>
            <td>80</td>
            <td>$15,000.00</td>
          </tr>
          <tr>
            <th scope="row">teste6</th>
            <td>110</td>
            <td>$22,000.00</td>
          </tr>           
      
          <tr>
            <th colspan="2" scope="row">Total</th>
            
            <td>$114,000.00</td>
          </tr>  
           
        </tbody>
      </table>
      
      </div>